*{
  padding:0%;
  margin:0%;
}

.navbar{
  height: 10vh!important;
}

.sidebar{
  width: 10%!important;
  height: auto!important;
  background-color: rgb(189, 247, 142);
  float: left;
}

.hero{
  width: 100%!important;
  height: 90vh!important;
}

